.idea/
target/
core/target/
external/cupid-client/target/
external/cupid-datasource/target/
examples/spark-examples/target/
examples/client-jobexamples/target/
*.iml
.classpath
.project
.DS_Store
dependency-reduced-pom.xml
